@page
@model NetflixMoviesRecommender.api.Pages.Account.Register
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Register";
    Layout = "Shared/_Layout";
}

<div class="container">
    <div class="row justify-content-center align-content-center login-form">
        <div class="col-md-6">
            <h3>Login</h3>
            <form method="post">
                <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
                <div class="form-group">
                    <a asp-page="/Account/Login" asp-route-returnUrl="@Model.Form.ReturnUrl" class="btnForgetPwd">Back to Login</a>
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="emailForm">Email Adress</label>
                    <span class="valSpan" asp-validation-for="Form.Email"></span>
                    <input type="text" class="form-control" id="emailForm" placeholder="Your Email-Address *" asp-for="Form.Email"/>
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="userNameForm">UserName</label>
                    <span class="valSpan" asp-validation-for="Form.Username"></span>
                    <input type="text" id="userNameForm" class="form-control" placeholder="Choose your UserName *" asp-for="Form.Username"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="passwordForm">Password</label>
                    <span class="valSpan" asp-validation-for="Form.Password"></span>
                    <input type="password" class="form-control" id="passwordForm" placeholder="Your Password *" asp-for="Form.Password"/>
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="confirmPasswordForm">Confirm Password</label>
                    <span class="valSpan" asp-validation-for="Form.ConfirmPassword"></span>    
                    <input type="password" class="form-control" id="confirmPasswordForm" placeholder="Confirm Password *" asp-for="Form.ConfirmPassword"/>
                </div>

                <div class="form-group">
                    <div class="row justify-content-center">
                        <input type="submit" class="btnSubmit" value="Register"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<