@page
@model NetflixMoviesRecommender.api.Pages.Admin.Index

@{
    ViewData["Title"] = "Admin Menu";
    Layout = "Shared/_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/admin/recommendation">Add Recommendation</a>
          </li>
        </ul>
    </div>
</div>