@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/vendor.min.css" />
</head>
<body>
@RenderBody()
</body>
    
</html>
<script src="/vendor.min.js"></script>
